{% extends 'base.html.twig' %}
	  {% block title %}{{ pin.title }}{% endblock %}
	  {% block body %}
	  {# <a href="/pin/create">Create a Pinterest1</a>  #}
	  {# <a href="{{ path('app_pin_create') }}">Create a Pinterest2</a>  #}
		<div class = "row">
		<div  align = "center" class= "col-md-6 mx-auto">
		<article>
			<h1>{{ pin.title }}</h1>
			
			            <img style="max-width: 450px;" src={{ vich_uploader_asset(pin, 'imageFile') }}>

			<p>By {{ pin.user.firstname ~ " " ~ pin.user.lastname }}</p>
			
			<h5>{{ pin.description }}</h5>
			<p>Submitted {{ pin.createdAt|date }}</p>
			<p>Last Modification {{ pin.updatedAt|date("d/m/Y H:i") }}</p>
		</article>
		{% if app.user %}
          {% if app.user.firstname is same as (pin.user.firstname) %}
		<a href="{{ path('app_pin_edit', {id: pin.id}) }}">Edit Pin</a>
        {# <a href="{{ path('app_pin_delete', {id: pin.id}) }}">Delete Pin</a> #}
	 <a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-pin-delete-form').submit();">Delete | </a>
{% endif %}
{% endif %}
<a href="{{ path('app_home') }}">Go Back</a>

<form id="js-pin-delete-form" action="{{ path('app_pin_delete', {id: pin.id}) }}" method="post" style="display:none;">
	<input type="hidden" name="_method" value="DELETE">
</form>
</div>
</div>

	  {% endblock %}
